.checkout {
  display: flex;
  padding: 20px;
  background-color: white;
  height: max-content;
  margin-top: 1rem;
}
.checkout-ad {
  width: 100%;
  margin-bottom: 10px;
}

.checkout-title {
  margin-right: 15px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  font-size: 1rem;
}
h3 {
  font-size: 1rem;
  margin-top: 1rem;
}